<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link   href="../../css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="d-flex flex-column align-items-center w-100 mt-5">
        <div class="w-25">
            <h1 class="text-center">LOGIN</h1>
            <div class="alert alert-danger " role="alert" th:if="${param.error}">
                아이디 또는 비밀번호를 다시 입력해주세요.</div>
            <div class="alert alert-danger" role="alert" th:if="${param.logout}">
                You have been logged out.</div>
            <form th:action="@{/login}" method="post">
                <div>
                    <label class="form-label w-100" for="userId">
                        <input class="form-control " type="text" name="userId" placeholder="id" id="userId"/>
                    </label>
                </div>
                <div>
                    <label class="form-label w-100" for="password">
                        <input class="form-control" type="password" name="password" placeholder="password" id="password"/>
                    </label>
                </div>
                <button class="btn btn-primary w-100" type="submit" value="로그인">로그인</button>
            </form>
            <button class="btn btn-outline-secondary mt-2 w-100" type="button" th:onclick="|location.href='@{/join}'|">회원 가입</button>

        </div>
    </div>
</div>

</body>
</html>